
{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<h2>Благодарим за покупку!</h2>

<p>В ближайшее время с вами свяжется наш менеджер. Детали заказа мы выслали на ваш E-mail <a href="mailto:{{ email.email }}">{{ email.email }}</a>. Кроме этого, вы можете отслеживать состояние заказа в личном кабинете. Данные для доступа мы также отправили на E-mail.</p>

<p>Если возникнут вопросы, телефон вашего консультанта +38 094 569-89-78</p>

<p>Хорошего дня!</p>
