<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals = "false"
    backupStaticAttributes = "false"
    colors = "true"
    convertErrorsToExceptions = "true"
    convertNoticesToExceptions = "true"
    convertWarningsToExceptions = "true"
    processIsolation = "false"
    stopOnFailure = "true"
    syntaxCheck = "false" 
    bootstrap="./bootstrap.php">
    
    <testsuites>
        
        <testsuite name="global">
            <directory suffix="Tests.php">collections</directory>
            <directory suffix="Tests.php">finders</directory>
            <directory suffix="Tests.php">forms</directory>
            <directory suffix="Tests.php">savers</directory>
            <directory suffix="Tests.php">services</directory>
            <directory suffix="Tests.php">widgets</directory>
        </testsuite>
        
    </testsuites>
    
</phpunit>
