/* Меню категорий */

.categories-menu,
.subcategory-menu{
    list-style:none;
    padding:0;
    margin:0;
}

.categories-menu{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-content:flex-start;
}

.categories-menu > li{
    margin-right:1.5em;
}

.categories-menu > li:last-child{
    margin-right:0;
}

.menu-marker{
    display:none;
    transform:rotate(90deg);
    font-size:1.0em;
    line-height:0;
    vertical-align:middle;
    margin-left:0.5em
}

.categories-menu a,
.category-button span{
    color:#333;
    text-decoration:none;
    cursor:pointer;
    font-weight:bold;
}

.categories-menu > li:first-child::after,
.category-button:after,
.bottom-line::after{
    display:block;
    content: " ";
    height:2px;
    background-color:#333;
}

.categories-menu > li:first-child::after,
.category-button:after{
    transition:width .5s ease;
    width:0%;
}

.bottom-line::after{
    width:100%;
}

.categories-menu > li:first-child:hover::after,
.category-button:hover::after{
    width:100%;
}

.subcategory-menu{
    position:absolute;
    padding-top:1.0em;
}

.subcategory-menu a{
    color:#808080;
    line-height:1.6;
    font-weight:normal;
    border-bottom: 1px solid #ccc
}

.subcategory-menu a:hover{
    color:#333;
    border-bottom: 1px solid #333;
}

.subcategory-menu li.active a{
    color:#333;
    border-bottom: 1px solid #333;
}
