@import url('normalize.css');
@import url('fonts.css');
@import url('categories-menu.css');

body{
    margin:2%;
    font-family:'PTSans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size:1.0em;
    line-height:1.2;
    background-color:rgb(250,250,250);
    color:#333;
}

img{
    max-width:100%;
}

button, input, select, textarea{
    font-family:'PTSans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

#header{
    width:96%;
    position:fixed;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}

#main{
    padding-top:15%;
}

/* Форма вылют */

.currency-list,
.currency-not-active{
    list-style:none;
    padding:0;
    margin:0;
}

.currency-active > span{
    color:#333;
    cursor:pointer;
    font-weight:bold;
}

.currency-not-active{
    position:absolute;
    padding-top:1.0em;
}

.currency-not-active > li span{
    color:#808080;
    line-height:1.6;
    font-weight:normal;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}

/* Разное */

ul.breadcrumb,
ul.pagination{
    list-style:none;
    margin:0;
    padding:0;
}

ul.breadcrumb li,
ul.pagination li{
    display:inline;
}

.disable{
    display:none;
}
