@import url('normalize.css');
@import url('fonts.css');
@import url('categories-menu.css');
@import url('currency-list.css');

body{
    margin:2%;
    font-family:'PTSans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size:1.0em;
    line-height:1.2;
    background-color:rgb(250,250,250);
    color:#333;
}

img{
    max-width:100%;
}

button, input, select, textarea{
    font-family:'PTSans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

#header{
    width:96%;
    position:fixed;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}

#main{
    padding-top:15%;
}

/* Разное */

ul.breadcrumb,
ul.pagination{
    list-style:none;
    margin:0;
    padding:0;
}

ul.breadcrumb li,
ul.pagination li{
    display:inline;
}

.disable{
    display:none;
}
