/* Информация о текущем пользователе */

#user-info a{
    color:#333;
    text-decoration:none;
    font-weight:bold;
    display:inline-block
}

#user-info a::after{
    content: " ";
    display:block;
    width:0%;
    height:2px;
    background-color:#333;
    transition:width .5s ease;
}

#user-info a:hover::after{
    width:100%;
}
