
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Error Unsubscribe</strong></p>

<p>Очень жаль, но во время выполнения вашего запроса произошла ошибка. Тем не менее, вы можете отписаться в своем персональном кабинете. Также вы можете отправить вопрос насчет этой ошибки в службу поддержки.</p>

