
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Subscription Exists</strong></p>

<p>Вы уже подписаны на этот канал! Если письма все же не приходят, обратитесь в службу поддержки.</p>

<p><a href="{{ url.to({0:'newsletter/subscribe'}) }}">Выбрать другой канал</a></p>

