
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Unsubscribe</strong></p>

<p>Вы отписаны от рассылок:
    <ol>
        {% for name in array.getColumn(mailingList, 'name') %}
            <li>{{ name }}</li>
        {% endfor %}
    </ol>
</p>

{% if app.shopUser.id_emails and app.shopUser.id %}
    <p><a href="{{ url.to({0:'newsletter/subscribe'}) }}">Управление подписками</a></p>
{% else %}
    <p><a href="{{ url.to({0:'newsletter/subscribe'}) }}">Посмотреть доступные подписки</a><p>
{% endif %}

