
<p>Colors</p>

<ul>
    <li><a href="{{ getParams.delParam(app.request.getUrl(), {0:'colors'}) }}">Все</a></li>
    {% for color in colorsList %}
        <li><a href="{{ getParams.addParam(app.request.getUrl(), {'colors':color.color}) }}">{{ color.color }}</a></li>
    {% endfor %}
</ul>
