
<ul>
{% for comment in productsModel.comments %}
    {% if comment.active %}
        <li>
            {{ comment.text }}<br>
            {{ comment.name }}
        </li>
    {% endif %}
{% endfor %}
</ul>
