
<ul>
{% for comment in objectsProducts.comments %}
    {% if comment.active %}
        <li>
            {{ comment.text }}<br>
            {{ comment.name }}
        </li>
    {% endif %}
{% endfor %}
</ul>
