
{% if objectsProducts.sizes %}
    <p><strong>Sizes</strong></p>
    <ul>
        {% for size in objectsProducts.sizes %}
            <li>{{ size.size }}</li>
        {% endfor %}
    </ul>
{% endif %}
