
{% if productsObject.colors %}
    <p><strong>Colors</strong></p>
    <ul>
        {% for color in productsObject.colors %}
            <li>{{ color.color }}</li>
        {% endfor %}
    </ul>
{% endif %}
