
<p>
<form name="search" action="{{ url.to({0:'/search'}) }}" method="GET">
    <input type="text" name="search" size="40" value="{{ app.request.get('search') }}">
    <input type="submit" value="Search">
</form>
<p>
