
<p>Sizes</p>

<ul>
    <li><a href="{{ getParams.delParam(app.request.getUrl(), {0:'sizes'}) }}">Все</a></li>
    {% for size in sizesList %}
        <li><a href="{{ getParams.addParam(app.request.getUrl(), {'sizes':size.size}) }}">{{ size.size }}</a></li>
    {% endfor %}
</ul
