
<p>Sizes</p>

<ul>
    <li><a href="{{ url.current({'sizes':null}) }}">Все</a></li>
    {% for size in sizesList %}
        <li><a href="{{ url.current({'sizes':size.size}) }}">{{ size.size }}</a></li>
    {% endfor %}
</ul
