
<p>Sorting</p>

<ul>
    <li><a href="{{ url.current({'orderby':null, 'ordertype':null}) }}">Новые первыми</a></li>
    <li><a href="{{ url.current({'orderby':'price', 'ordertype':'asc'}) }}">По возростанию цены</a></li>
    <li><a href="{{ url.current({'orderby':'price', 'ordertype':'desc'}) }}">По убыванию цены</a></li>
</ul>
