{{ register_asset_bundle('app/assets/AddProductAsset') }}

{% include('@theme/base/user-info.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if errorMessage %}
    <p><strong>{{ errorMessage }}</strong></p>
{% endif %}

<p>
    {% include('add-product-form.twig') %}
</p>
