{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for color in colors %}
        <li>
            {{ color.color }}
            {{ form.form(modelForm, formSettings, color.formId, formAction, color.id, button) }}
        </li>
    {% endfor %}
</ul>

