{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for size in sizes %}
        <li>
            {{ size.size }}
            {{ form.form(modelForm, formSettings, size.formId, formAction, size.id, button) }}
        </li>
    {% endfor %}
</ul>

