{{ use('yii/widgets/ActiveForm') }}

{% if orders %}
    <div class="get-csv">
        <p><strong>{{ header }}</strong></p>
        
        <p class="csv-success"></p>
        
        {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
            <input type="submit" value="{{ button }}">
        {{ active_form_end() }}
    </div>
{% endif %}
