{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for brand in brands %}
        <li>
            {{ brand.brand }}
            {{ form.form(modelForm, formSettings, brand.formId, formAction, brand.id, button) }}
        </li>
    {% endfor %}
</ul>

