{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hiddenid-name-descripton-active-form.twig' as form %}

<div class="admin-payment-edit-form"><p>
    {{ form.form(modelForm, formSettings, formId, formAction, id, name, description, active, cols, rows, button, buttonCancel) }}
</p></div>
