{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/name-descripton-active-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

{{ form.form(modelForm, formSettings, formId, formAction, cols, rows, button) }}
