{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/post-button.twig' as formDelete %}

<p class="checkout-link">
    {{ formDelete.form(formSettings, formId, formAction, button) }}
</p>
