{{ use('yii/widgets/ActiveForm') }}

<p class="back-to-cart">
    {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'GET'}) %}
        <input type="submit" value="{{ button }}">
    {{ active_form_end() }}
</p>
