<section id="comments">
    {% if comments %}
        <ul id="comment-text">
            {% for comment in comments %}
                <li>
                    <span class="comment-name">&mdash; {{ comment.name }}</span>,<span class="comment-date">{{ comment.date }}</span>
                    <p><span class="comment-text">{{ comment.text }}</span></p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
