<div class="comment-text">
{% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.name }}
                </br>{{ comment.date }}
                </br>{{ comment.text }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
