{{ use('yii/widgets/ActiveForm') }}

<p class="search-form">
    {% set form=active_form_begin({'id':formId, 'action':formAction, 'method':'POST', 'options':formOptions}) %}
        {{ form.field(formModel, 'text').textInput({'value':text, 'size':60, 'placeholder':placeholder}).label(false) | raw }}
        {{ form.field(formModel, 'url').hiddenInput().label(false) | raw }}
    {{ active_form_end() }}
</p>
