{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/post-button.twig' as formDelete %}

<div class="shortCart">
    <p>{{ goodsText }}</p>
    
    {{ formDelete.form(formSettings, formId, formAction, button) }}
</div>
