
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{% if app.request.get('notexists') %}
    <p>Никаких следов пользователя {{ app.request.get('notexists') }}! Но вы можете это исправить прямо сейчас! Если уверены, что с логином и паролем все в порядке, пишите в техподдержку, вам незамедлительно помогут!</p>
{% endif %}

<p><strong>Join to us</strong></p>

{% include '@app/views/parts/add-user-form.twig' %}

