
<h1>{{ yii.t('base', 'Hello! You have requested to restore the password to shop.com') }}</h2>

<p>{{ yii.t('base', 'Your new password: {password}', {'password':password}) | raw }}</p>

<p>{{ yii.t('base', 'We recommend to replace the password on your own as soon as possible!') | raw }}</p>
