
<h1>{{ yii.t('base', 'Hello! You have requested to restore the password to chop.com') }}</h2>

<p>{{ yii.t('base', 'To restore the password, click on the link <a href="{href}">restore password</a>', {'href':url.to({0:'/user/restore', 'email':email, 'key':key}, true)}) | raw }}</p>
