
<h1>Добро пожаловать в сообщество подписчиков!</h1>

<p> Вы подписались на рассылки:</p>
<ol>
    {% for name in array.getColumn(mailingList, 'name') %}
        <li>{{ name }}</li>
    {% endfor %}
   </ol>

<p>Еженедельно вы будете получать обзоры новых товаров, скидки и специальные предложения для подписчиков! Мы рады что вы с нами! Хорошего дня!</p>

<p>Если вы хотите отписаться от рассылки, перейдите <a href="{{ url.to({0:'newsletter/unsubscribe', 'email':emailsModel.email, 'hash':hash}, true) }}">по этой ссылке</a></p>
