
<ol>
{% for product in productsList %}
    <li>
        {{ product.code }} {{ product.name }} &mdash; {{ product.price }}<br>
        {{ product.description }}
    </li>
{% endfor %}
</ol>

{% include 'menu.twig' %}

{% include 'currency.twig' %}

{% include 'colors.twig' %}
