
{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

<ol>
{% for product in productsList %}
    <li>
        <strong><a href="{{ url.to({0:'product-detail/index', 'categories': product.categories, 'subcategory': product.subcategory, 'id': product.id}) }}">{{ product.name }}</a></strong><br>
        {{ product.price }}<br>
        {{ product.description }}
    </li>
{% endfor %}
</ol>

{% include '@app/views/parts/sort-field.twig' %}

{% include '@app/views/parts/menu.twig' %}

{% include '@app/views/parts/currency.twig' %}

{% include '@app/views/parts/colors.twig' %}

{% include '@app/views/parts/sizes.twig' %}

{% include '@app/views/parts/brands.twig' %}
