
<ol>
{% for product in productsList %}
    <li>
        {{ product.code }} {{ product.name }} &mdash; {{ product.price }}<br>
        {{ product.description }}
    </li>
{% endfor %}
</ol>

{% include '@app/views/parts/menu.twig' %}

{% include '@app/views/parts/currency.twig' %}

{% include '@app/views/parts/colors.twig' %}

{% include '@app/views/parts/sizes.twig' %}
