{{ register_asset_bundle('app/assets/MainAsset') }}

{% include('@app/views/base/menu.twig') %}

{% include('@app/views/base/breadcrumbs.twig') %}

{% if productsList %}
    <ol>
    {% for productsModel in productsList %}
        <li>
            {{ productsModel.name }}
            <br>{{ app.formatter.asDate(productsModel.date) }}
        </li>
    {% endfor %}
    </ol>
{% endif %}
